<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InstrumentationInterface -->
      <package
            uri="http://www.gemoc.org/instrument/InstrumentationInterface"
            class="org.gemoc.instrumentationInterface.InstrumentationInterfacePackage"
            genModel="model/InstrumentationInterface.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	          class="org.gemoc.instrumentationinterface.ui.InstrumentationInterfaceExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
	          uriExtension="instritf">
	    </resourceServiceProvider>
   	</extension>

</plugin>
