<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.gemoc.monilog.appender">
    <appender
          class="org.gemoc.monilog.rabbitmq.RabbitMQAppender"
          specificationFile="/rabbitmq-moniloglib.mnlg">
    </appender>
 </extension>

</plugin>
